<!DOCTYPE html>
<meta charset="utf-8">

<head>
    <link rel="stylesheet" href="../style/style_classification.css">
    <!-- <link rel="stylesheet" href="files/theme/style.css"> -->
</head>

<body style="background-color:#041011">
    <div id="title-div">
        <h1> Classification results for project on noise added to networks (in development) </h1>
    </div>

    <div id="plots-div">

        <div id="svg-div">
            <svg width="600" height="600" id="svg0"></svg>
        </div>

        <div id="pair-graphs-div">
            <svg width="400" height="400" id="svg-pair1"></svg>
            <svg width="400" height="400" id="svg-pair2"></svg>
        </div>


        <!-- <button id="back-button">Back</button> -->
        <div id="threshold-div">
            <h3>Threshold</h3>
            <input id="slider-range" type="range" min="0" max="16" step="1" value="9">
        </div>
        <!-- <button id="next-button">Next</button> -->

    </div>

    <div id="info-div">
        <div id="info-div-text">
            In a forthcoming paper, we created network models in which we added noise at a specific edge density threshold. For each threshold, we classified the graph models based on their 
            Betti curves. All analyses and results will be described in a forthcoming paper (expected December 2020). <br> <br>

                <div id="list-div">

                    <ul>
                        <li><i>Hover</i> over squares to see the number of times the corresponding true model was classified as the corrsponding predicted model.<br><br></li>
                        <li><i>Click</i> on a square within the confusion matrix on the left to bring up the corresponding averaged Betti curves on the right.<br><br></li>
                        <li><i>Drag</i> the slider on the right to see how changing the threshold parameter affects the classification results.<br><br></li>
                    </ul>

                </div>

        </div>

    </div>


    <script src="https://d3js.org/d3.v4.min.js"></script>
    <script src="https://unpkg.com/d3-simple-slider"></script>
    <script src="https://d3js.org/d3-color.v2.min.js"></script>
    <script src="https://d3js.org/d3-interpolate.v2.min.js"></script>
    <script src="https://d3js.org/d3-scale-chromatic.v2.min.js"></script>



    <script src="../js/classification.js"></script>

    


</body>