<!DOCTYPE html>
<meta charset="utf-8">

<head>
  <link rel="stylesheet" href="../style/style_mx.css">
</head>

<body style="background-color:rgb(1, 7, 9)"5>

  <div id="header">
    <h1> Multilayer network </h1>
  </div>

  <div id="datadiv" data-mxgraph='{{mxgraph}}' style='display:none'></div>


  <div id="svgs-div">


    <div id="svgdiv-mx">
      <svg width="600" height="600" id="svg-mx"></svg>
    </div>




    <div id="svgdiv-sadj">
      <h2>supra-adjacency matrix</h2>
      <svg width="500" height="500" id="svg-sadj"></svg>
    </div>

  </div>

  <div id="options" width=100 height=200>
    
    <div>
    Color nodes by:
    <select id="color-dropdown" title="Node color">
    <option value="L2">Layer</option>
    <option value="L1">L1</option>
    </select>
    </div>


    <div>
    Rotate mx:
    <button type="button" id="rotate-button">Rotate</button>
    </div>

    <div>
    Rotate x:
    <!-- Add a slider -->
    <input type="range" name="x0 Slider" id="slider-x0" min="-20" max="18" value="10">
    </div>


    <div>
    Rotate y:
    <input type="range" name="tilt Slider" id="slider-tilt" min="0" max="900" value="200">
    </div>

  </div>


  <div id="info-div">
    <div id="info-div-text">
      <br>
        Multilayer networks are used to represent many types of systems, such as those that have multiple types of connections between nodes. 
        Above we see a multilayer network with five layers (left) and its corresponding supra-adjacency matrix (right) which records the presence of connections between nodes.<br> <br>

            <div id="list-div">

                <ul>
                    <li><i>Hover</i> over a node in the network to see it's corresponding location and connections in the supra-adjacency matrix.<br><br></li>
                    <li><i>Choose</i> to color nodes by layer or by node identity.<br><br></li>
                    <li><i>Rotate</i> the multilayer network 90 degrees.<br><br></li>
                    <li><i>Adjust</i> the viewing angle with the sliders.</li>

                </ul>

            </div>

    </div>

</div>

  <div id="footer">

    <button type="button" id="mx-button">Save mx</button>

    <button type="button" id="sadj-button">Save sadj</button>

  </div>




<!-- Load d3 and other helper scripts -->
<script src="https://d3js.org/d3.v4.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.6.0/d3.min.js"></script>
<script src="https://d3js.org/d3-color.v1.min.js"></script>
<script src="https://d3js.org/d3-scale-chromatic.v1.min.js"></script>
<script src="../js/mx_viz.js"></script>


</body>
