<!DOCTYPE html>
<meta charset="utf-8">

<style>
    /* CSS */
    h1 {
        font-family: "Helvetica Neue", Helvetica, sans-serif;
        font-weight: lighter;
        color: white;
        font-size: 45px;
    }


    .simp2 {
        opacity: 0.1;
    }

    .simp1 {
        opacity: 0.9;
    }

    .nodes {
        opacity: 1;
    }
</style>

<body style="background-color:rgb(8, 8, 16)">
    <div id="title-div">
        <h1>Simplicial complex</h1>
    </div>

    <div id="svg-div">
        <svg width="1000" height="600" id="sc-svg"></svg>
    </div>

    <script src="https://d3js.org/d3.v4.min.js"></script>
    <script src="https://d3js.org/d3-color.v1.min.js"></script>
    <script src="https://d3js.org/d3-interpolate.v1.min.js"></script>
    <script src="https://d3js.org/d3-scale-chromatic.v1.min.js"></script>
    <!-- <script src="d3-save-svg-gh-pages/assets/d3-save-svg.min.js"></script> -->


    <script src="../js/simpcomp_viz.js"></script>


</body>